{%extends 'base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{%block content%}
<form method="post">
    {% csrf_token %}
    <a href="{% url 'social:begin' 'google-oauth2' %}">Register with Google</a>
    <input type="hidden" name="next" value="{{ next }}"/>
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
    <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <button type="submit">Create Account</button>
</form>
{%endblock%}

</body>
</html>