{%extends 'base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
{%block content%}
<h1>{{user.username}} Profile</h1>
<form method="post">
    {% csrf_token %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        {% if message.message == "Password Changed" %}
        <li>{{message}}</li>
        {% endif %}
        {% endfor %}
    </ul>

    {% endif %}
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
    <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <button type="submit">Change Data</button>
</form>
<p><a href="{% url 'users:password-change' %}"> Change password</a></p>
{%endblock%}
</body>
</html>